{% extends "../base.html" %}

{% block body %}
<div id="body-fluid" class="fluid">
    <div id="toolbar-row" class="row">
        <div id="toolbar-col" class="col">
            <div id="toolbar-left" class="btn-group btn-group-sm float-left" role="group" aria-label="toolbar-left">
                <input type="number" name="current-image" class="form-control form-control-sm" id="current-image" min="0">
                <span> / </span>
                <input type="number" name="total-images" class="form-control form-control-sm" id="total-images" min="0" readonly>
            </div>
            <div id="toolbar-right" class="btn-group btn-group-sm float-right" role="group" aria-label="toolbar-right">
                <div class="custom-control custom-switch btn">
                    <input type="checkbox" class="custom-control-input" id="show-annotations">
                    <label class="custom-control-label" for="show-annotations">Show</label>
                </div>
                <button id="btn_play" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-media-pause" title="play" aria-hidden="true"></span>
                </button>
                <button id="btn_load_previous" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-action-redo" title="previous annotation" aria-hidden="true"></span>
                </button>
                <button id="btn_refresh" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-loop-circular" title="refresh" aria-hidden="true"></span>
                </button>
                <div id="draw-type-selector" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary btn-sm active">
                        <input type="radio" name="draw-type" id="rect" autocomplete="off" checked>Rectangle
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="radio" name="draw-type" id="polygon" autocomplete="off">Polygon
                    </label>
                </div>
                <button id="btn_previous" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-chevron-left" title="previous" aria-hidden="true"></span>
                </button>
                <input type="number" name="interval" class="form-control form-control-sm" id="interval" min="1">
                <button id="btn_next" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-chevron-right" title="next" aria-hidden="true"></span>
                </button>
                <button id="btn_save" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-cloud-upload" title="save" aria-hidden="true"></span>
                </button>
                <button id="btn_settings" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-cog" title="settings" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="resource-row" class="row">
        <div id="input-resource" class="col">
            <div>
                <input type="text" class="form-control form-control-sm dir-path" readonly>
            </div>
        </div>
        <div id="output-resource" class="col">
            <div>
                <input type="text" class="form-control form-control-sm dir-path" readonly>
            </div>
        </div>
    </div>
    <div id="annotation-row" class="row">
        <div id="annotation-window-container">
            
        </div>
    </div>
</div>
<div id="settings_modal" class="modal fade" tabindex="-1" role="dialog">
    <form id="form_settings" class="form-horizontal" enctype="multipart/form-data">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="source">Source</label>
                        <input type="text" name="source" class="form-control form-control-sm" id="source" placeholder="ldfs://host:port/path/to/imagefolder">
                    </div>
                    <div class="form-group">
                        <label for="target">Target</label>
                        <input type="text" name="target" class="form-control form-control-sm" id="target" placeholder="ldfs://host:port/path/to/annotationfolder">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn_update" type="button" class="btn btn-light" onclick="this.blur();">Update</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="loading_modal" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Loading ...</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading ...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block javascript %}
<link href="{{ static_url('annotorious/annotorious.min.css') }}" rel="stylesheet" >
<link href="{{ static_url('css/common.css') }}" rel="stylesheet" >
<link href="{{ static_url('css/images.css') }}" rel="stylesheet" >
<script src="{{ static_url('annotorious/annotorious.min.js') }}"></script>
<script src="{{ static_url('js/common.js') }}"></script>
<script src="{{ static_url('js/images.js') }}"></script>
<script type="text/javascript">
    var scrollBarSize = getBrowserScrollSize();
    var height_delta = 140;
    window.onload = window.onresize = function(){
        $(document).ready(function(){
            var window_height = $(window).height();
            var window_width = $(window).width();
            $("#annotation-window-container img").height(window_height - height_delta);
        });
    }

    $(document).ready(function(){
        var window_height = $(window).height();
        var window_width = $(window).width();
        $("#annotation-window-container img").height(window_height - height_delta);
        imagesInit(height_delta, ['Dialog', 'Vehicle', 'People']);
    });
</script>
{% end %}
